<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">HonGym</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link-active" href="/protected/home" hx-get="/protected/home"
							hx-target="#content">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/protected/workouts " hx-get="/protected/workouts"
							hx-target="#content">Manage your
							workouts</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/protected/sessions" hx-get="/protected/sessions"
							hx-target="#content">Manage your
							sessions</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/protected/exercises" hx-get="/protected/exercises"
							hx-target="#content">Manage your
							exercises</a></li>
					<li class="nav-item"><a class="nav-link" href="/protected/stats" hx-get="/protected/stats"
							hx-target="#content">Check
							your stats</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main>
		<div id="content" hx-get="/protected/home" hx-trigger="load">
			HERE IS DISPLAYED THE APP
			Right now its HOME (default)
		</div>
	</main>
</body>

</html>
