<h2 class="text-center">Active Workout</h2>

{{ if eq (len .workouts) 0 }}
<p>You currently do not have any workout template created.</p>
<button class="btn btn-success mt-4" hx-get="/protected/creation_workout" hx-target="#content" hx-swap="innerHTML">
	Create new workout template
</button>
{{ else }}
<p class="m-1">You currently have no active workout.</p>

<div id="workouts" class="mb-4">
	<ol class="list-group">
		{{ range .workouts }}
		<li class="list-group-item">
			<div class="d-flex justify-content-between align-items-start">
				<div class="m-2">
					<div class="fw-bold">{{ .Workout.Name }}</div>
					<div>
						{{ range .Workout.Seances }}
						<div>
							-> {{ .Name }}
						</div>
						{{ end }}
					</div>
				</div>
				<button class="btn btn-primary" hx-post="/protected/workouts/{{ .ID }}/activate" hx-target="#content"
					hx-swap="innerHTML">
					Activate
				</button>
			</div>
			<div>
				Done {{ .Count }} times
			</div>
		</li>
		{{ end }}
	</ol>
</div>
{{ end }}
