<h2>Session: {{ .realSeance.Template.Name }}</h2>
<p>Choose an exercise to start</p>

<div id="exercises">
	{{ range .exercises }}
	<div>
		- {{ .Template.Name }}
		<button hx-post="/protected/exercises/{{ .ID }}/start" hx-target="#content" {{ if .Finished }}
			class="btn btn-danger" {{ else }} class="btn btn-primary" {{ end }}>Start exercise</button>
	</div>
	{{ end }}
	<button hx-get="protected/sessions/{{ .realSeance.ID }}/finish" hx-target="#content" hx-swap="innerHTML">Finish this
		session</button>
</div>
