<h2>Active workout</h2>
{{ if eq (len .workouts) 0 }}
<p>You currently not have any workout template created</p>
<button class="btn btn-success" hx-get="/protected/creation_workout" hx-target="#content" hx-swap="innerHTML">Create new
	workout
	template</button>
{{ else }}
<p>You currently have no active workout</p>
<p>Choose a workout to activate:</p>

<div id="workouts">
	{{ range .workouts }}
	<div>
		- {{ .Name }}
		<button hx-post="/protected/workouts/{{ .ID }}/activate" hx-target="#content"
			hx-swap="innerHTML">Activate</button>
		{{ range .Seances }}
		<div>
			-> - {{ .Name }}
		</div>
		{{ end }}
	</div>
	{{ end }}
</div>
{{ end }}
