<div id="app">
	<h1>Login</h1>
	<form hx-post="/login" hx-target="#app" hx-swap="outerHTML">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>

		<button type="submit">Login</button>
	</form>

	<h1>Register</h1>
	<form hx-post="/register" hx-target="#app" hx-swap="outerHTML">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>

		<button type="submit">Register</button>
	</form>

	<img class="mt-2" src="assets/junior.jpg" height="200">
	<figure class="">
		<blockquote class="blockquote">
			<p>Go go l asticot !!!</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			<cite title="Source Title">Hon ❤️</cite>
		</figcaption>
	</figure>
</div>
