<h2>Exercises Templates</h2>

<div id="exercises">
	<ol class="list-group">
		{{ range .exercises }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<div class="fw-bold">{{ .Name }}</div>
			</div>
			<button class="btn btn-primary" hx-get="/protected/exercises/{{ .ID }}" hx-target="#content">Modify</button>
		</li>
		{{ end }}
	</ol>
</div>

<button class="btn btn-success mt-2 p-3" hx-get="/protected/creation_exercise" hx-target="#content">Create a new
	exercise template</button>
